# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environment
# ==============================
venv/
env/
.venv/

# ==============================
# Environment variables
# ==============================
.env

# ==============================
# Database files
# ==============================
*.db
*.sqlite3

# ==============================
# Uploads (resume files)
# ==============================
uploads/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# VS Code settings
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Node modules (future frontend)
# ==============================
node_modules/
dist/
build/

output/

resumes/